header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right {
  display: flex;
  gap: 16px;
}
ul {
  list-style: none;
  display: flex;
  gap: 16px;
  font-size: 20px;
}
.navbar a {
  color: black;
}

.menu {
  display: none;
}

.download {
  flex-basis: fit-content;
  padding: 16px;
  background: linear-gradient(
    90deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(207, 9, 97, 1) 100%
  );
}
