@media only screen and (max-width: 300px) {
  .features {
    text-align: center;
    font-family: "Roboto", "sans-serif";
  }

  .features h2 {
    margin-top: 50px;
  }
  .features p {
    margin-bottom: 75px;
  }
  .fblock {
    display: block;
  }

  .fblock img {
    height: 100px;
    width: auto;
    padding: 2px 10px 2px 10px;
  }

  .clean,
  .robust,
  .powerful {
    margin: 50px;
    padding: 0px 30px 80px 30px;
    height: 250px;
    width: 300px;
    display: flexbox;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(246, 243, 243);
    text-align: center;
  }
  .fblock p {
    color: gray;
  }
  a:link {
    color: black;
    text-decoration: none;
  }
}

@media only screen and (min-width: 300px) {
  .features {
    text-align: center;
    font-family: "Roboto", "sans-serif";
  }

  .features h2 {
    margin-top: 50px;
  }
  .features p {
    margin-bottom: 75px;
  }
  .fblock {
    display: block;
  }

  .fblock img {
    height: 100px;
    width: auto;
    padding: 2px 10px 2px 10px;
  }

  .clean,
  .robust,
  .powerful {
    margin: 50px;
    padding: 0px 30px 80px 30px;
    height: 250px;
    width: 300px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(246, 243, 243);
    text-align: center;
  }
  .fblock p {
    color: gray;
  }
  a:link {
    color: black;
    text-decoration: none;
  }
  .fline {
    background: linear-gradient(#fd7b76, #fd7b75);
  }
}
