.home {
  background-image: url(assets/img/banner-bg.png);
  background-repeat: no-repeat;
  background-size: 900px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 80px;
  padding: 15px;
  position: relative;
  top: 12px;
  left: -37px;
}

.pic1 img {
  width: 270px;
}

img {
  width: 270px;
}
.beginning span {
  font-weight: 900;
}

.home h2 {
  font-weight: 400;
}
.beginning h1 {
  font-weight: 400;
  font-size: 18px;
}
.beginning h2 {
  font-size: 10px;
}
.beginning {
  text-align: center;
  padding-top: 20px;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.brands img {
  width: 40%;
  padding: 45px 10px 10px 10px;
}

button {
  background: rgb(3, 172, 150);
  background: linear-gradient(
    266deg,
    rgba(3, 172, 150, 1) 0%,
    rgba(5, 207, 208, 1) 79%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 12px;
  color: white;
  padding: 15px 26px;
  text-align: center;
  text-decoration: none;
  margin: 4px 80px;
  cursor: pointer;
  border-style: none;
  margin-bottom: 25px;
  width: 122px;
}

@media screen and (max-width: 300px) {
  .home {
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
}
