
.home {
    background-image: ;
    font-family: 'Roboto', sans-serif;
    color: white;
   
}
span {
   
 font-weight: 900;
}

.home h2 {
 font-weight: 400;
}
.beginning h1 {
    font-weight: 400;
    font-size: 80px;
}
.beginning h2 {
    font-size: 50px;
}